h1 {
	font-size: 100px;
	font-family: "miller-display", serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}
h2 {
	font-size: 70px;
	font-family: "miller-display", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	margin-bottom: 100px;
}

h3 {
	font-size: 60px;
	font-family: "miller-display", serif;
	font-weight: 400;
	font-style: italic;
}

p {
	font-size: 20px;
	font-family: "miller-display", serif;
	font-weight: 300;
	font-style: normal;
}

.college {
	background-color: #F543D6;
	display: inline-block;
	opacity: .8;
}

body {
	background-color: #F5E3D2;
}

.my-work {
	margin-bottom: 70px;
}

.contact {
	font-size: 30px;
}

img {
	display: inline-block;
	width: 50%;
}

#who-am-i {
	text-align: center;
	margin-bottom: 70px;
}

.my-work {
	text-align: center;
}

#contact {
	text-align: center;
	margin-bottom: 70px;
}

#santa-fe {
	margin-bottom: 70px;
}

/*hover css*/

.contained {
  position: relative;
  width: 50%;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F5D0E1;
}

.contained:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	font-family: "miller-display", serif;
	font-weight: 400;
	font-style: normal;
}